{
  "globals": {
    "$": true,
    "_": true,
    "cssModules": true,
    "React": true,
    "ReactDOM": true,
    "chrome": true
  },
  "extends": "airbnb",
  "rules": {
    "comma-dangle": [1, "always-multiline"],
    "key-spacing": [0, {
      "beforeColon": true,
      "afterColon": true
    }],
    "indent": [2, 2, {"SwitchCase": 1}],
    "no-else-return": 0,
    "space-before-function-paren": [0, "always"],
    "react/jsx-quotes": [1, "double"]
  }
}
