@import './colors.css';
@import './config.css';

.griiid__body-override {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.griiid__layout,
.griiid__wrapper {
  position: absolute;
  width: 100%;
}
.griiid__wrapper {
  transform: translate3d(var(--rulerSize), var(--rulerSize), 0);
  width: calc(100% - var(--rulerSize));
}
#griiid__root {
  width: 100%;
  z-index: 9999;
  box-sizing: border-box;
  font-size: 10px;
  font-family: sans-serif;
  pointer-events: none;

  * {
    margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
  }

  h1, h2, h3, h4, h5, h6 {
    line-height: 1;
  }

  h3 {
    font-size: 10px;
  }
}
