@import 'styles/colors.css';
@import 'styles/config.css';

/**
 * --------------------------------------------------------
 * Guide lines
 * --------------------------------------------------------
 */
.guide-lines--layout,
.guide-lines--stage {
  position: absolute;
  left: var(--toolBarWidth);
  width: calc(100% - var(--toolBarWidth));
  min-height: 100%;
  height: auto !important;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}
.guide-line--horizontal,
.guide-line--vertical {
  position: absolute;
  pointer-events: all;

  &:after {
    content: ' ';
    position: absolute;
    background: var(--aqua);
  }
}
.guide-line--horizontal {
  height: 3px;
  width: 100%;
  cursor: row-resize;

  &:after {
    width: 100%;
    height: 1px;
    top: 1px;
  }
}
.guide-line--vertical {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  width: 3px;
  cursor: col-resize;

  &:after {
    width: 1px;
    height: 100%;
    left: 1px;
  }
}
