@import 'styles/colors.css';
@import 'styles/config.css';

/**
 * --------------------------------------------------------
 * General ruler styles
 * --------------------------------------------------------
 */
.rulers-layout {
  width: 100%;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  position: fixed;
  pointer-events: none;
}

/**
 * --------------------------------------------------------
 * Ruler component wrappers
 * --------------------------------------------------------
 */
.ruler--dual-axis,
.ruler--horizontal,
.ruler--vertical {
  position: fixed;
  background: #fff;
  z-index: 1;
  user-select: none;
  cursor: default;
}
.ruler--dual-axis {
  position: fixed;
  border-bottom: 1px solid var(--grey100);
  border-right: 1px solid var(--grey100);
  z-index: 2;
}
.ruler--horizontal {
  position: fixed;
  width: 100%;
  left: var(--rulerSize);
  border-bottom: 1px solid var(--grey100);
}
.ruler--vertical {
  height: 100%;
  top: var(--rulerSize);
  border-right: 1px solid var(--grey100);
}

/**
 * --------------------------------------------------------
 * Ruler markers and text
 * --------------------------------------------------------
 */
.markers-block--horizontal,
.markers-block--vertical {
  position: absolute;
  width: 100%;
  height: 100%;
}
.markers-block--title {
  color: var(--grey500);
}
.marker {
  background: var(--grey100);
  position: absolute;
}

/**
 * Horizontal styles
 */
.markers-block--horizontal .marker {
  width: 1px;
  height: 5px;
  bottom: 0;
}
.markers-block--horizontal .marker:nth-child(2n) {
  height: 10px;
}
.markers-block--horizontal .marker:first-child {
  height: 100%;
}
.markers-block--horizontal .title {
  position: absolute;
  left: 10px;
  top: 2px;
  width: 100%;
}

/**
 * Vertical styles
 */
.markers-block--vertical .marker {
  height: 1px;
  width: 5px;
  right: 0;
}
.markers-block--vertical .marker:nth-child(2n) {
  width: 10px;
}
.markers-block--vertical .marker:first-child {
  width: 100%;
}
.markers-block--vertical .title {
  position: absolute;
  word-break: break-all;
  width: 10px;
  height: 100%;
  left: 2px;
  top: 10px;
}
